 #root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 2rem;
   text-align: center;
   --bs-purple: #7033fd;
   --bs-azul: #339afd;

 }

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Estilo para la barra de scroll */

::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
 .bg-azul {
   background-color: var(--bs-azul) !important;
 }

 .text-azul {
   color: var(--bs-azul) !important;
 }

 .border-azul {
   border-color: var(--bs-azul) !important;
 }

 .btn-outline-azul {
   display: inline-block;
   font-weight: 400;
   line-height: 1.5;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   user-select: none;
   border: 1px solid var(--bs-azul) !important;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   border-radius: 0.25rem;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   color: var(--bs-azul) !important;
   background-color: transparent;
   background-image: none;
 }

 .btn.btn-outline-azul:hover {
   color: #fff !important;
   background-color: var(--bs-azul) !important;
   border-color: var(--bs-azul) !important;
   box-shadow: none;
 }

 .btn.btn-outline-azul:focus {
   /* Al hacer clic y soltar, vuelve al estilo outline transparente */
   color: #fff;
   background-color: transparent;
   border-color: var(--bs-azul) !important;
 }

 .btn.btn-outline-azul:active {
   color: #fff !important;
   background-color: transparent;
   border-color: var(--bs-azul) !important;
   box-shadow: none;
 }

 .btn-outline-azul:disabled {
   color: #fff !important;
   background-color: transparent;
   border-color: var(--bs-azul) !important;
   opacity: 0.65;
 }

 /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



 /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
 .bg-purple {
   background-color: var(--bs-purple) !important;
 }

 .text-purple {
   color: var(--bs-purple) !important;
 }

 .border-purple {
   border-color: var(--bs-purple) !important;
 }

 .btn-outline-purple {
   display: inline-block;
   font-weight: 400;
   line-height: 1.5;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   user-select: none;
   border: 1px solid var(--bs-purple) !important;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   border-radius: 0.25rem;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   color: var(--bs-purple) !important;
   background-color: transparent;
   background-image: none;
 }

 .btn.btn-outline-purple:hover {
   color: #fff !important;
   background-color: var(--bs-purple) !important;
   border-color: var(--bs-purple) !important;
   box-shadow: none;
 }

 .btn.btn-outline-purple:focus {
   /* Al hacer clic y soltar, vuelve al estilo outline transparente */
   color: #fff;
   background-color: transparent;
   border-color: var(--bs-purple) !important;
 }

 .btn.btn-outline-purple:active {
   color: #fff !important;
   background-color: transparent;
   border-color: var(--bs-purple) !important;
   box-shadow: none;
 }

 .btn-outline-purple:disabled {
   color: #fff !important;
   background-color: transparent;
   border-color: var(--bs-purple) !important;
   opacity: 0.65;
 }

 /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



 body {
   background-color: #1a1a1a;
   color: #f8f9fa;
   font-family: 'Inter', sans-serif;
 }


 .card-body {
   background-color: #212529 !important;
   transition: all 0.3s ease;
   cursor: default;
 }

 .card-body:hover {
   box-shadow: 0 0 15px #7033fd;
 }


 .card-body-azul {
   background-color: #212529 !important;
   transition: all 0.3s ease;
   cursor: default;
 }

 .card-body-azul:hover {
   box-shadow: 0 0 15px var(--bs-azul) !important;
 }


 .rounded-3 {
   border-radius: 0.75rem !important;
 }


 .app-container {
   min-height: 100vh;
   background-color: #1a1a1a;
   padding-top: 3rem;
   padding-bottom: 3rem;
   transition: all 0.7s ease-in-out;
 }

 .app-container-center {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .fade-in {
   animation: fadeIn 0.5s ease-out;
 }

 @keyframes fadeIn {
   from {
     opacity: 0;
     transform: translateY(10px);
   }

   to {
     opacity: 1;
     transform: translateY(0);
   }
 }
