 #root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 2rem;
   text-align: center;
 }


 body {
   background-color: #1a1a1a;
   color: #f8f9fa;
   font-family: 'Inter', sans-serif;
 }


 .card-body {
   background-color: #212529 !important;
   transition: all 0.3s ease;
   cursor: default;
 }

 .card-body:hover {
   box-shadow: 0 0 15px rgba(0, 123, 255, 0.4);
 }


 .timeline-line {
   width: 3px;
   height: 100%;
   margin-top: 10px;

 }

 .rounded-3 {
   border-radius: 0.75rem !important;
 }


 .app-container {
   min-height: 100vh;
   background-color: #1a1a1a;
   padding-top: 3rem;
   padding-bottom: 3rem;
   transition: all 0.7s ease-in-out;
 }

 .app-container-center {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .fade-in {
   animation: fadeIn 0.5s ease-out;
 }

 @keyframes fadeIn {
   from {
     opacity: 0;
     transform: translateY(10px);
   }

   to {
     opacity: 1;
     transform: translateY(0);
   }
 }